/* @import must be at top of file, otherwise CSS will not work */

@font-face {
	font-family: 'RingsideRegular-Book';
	src: url('/fonts/RingsideRegular-Book.otf') format('opentype');
	font-style: normal;
}

@font-face {
	font-family: 'RingsideRegular-Bold';
	src: url('/fonts/RingsideRegular-Bold.otf') format('opentype');
	font-style: normal;
}

@font-face {
	font-family: 'RingsideRegular-Medium';
	src: url('/fonts/RingsideRegular-Medium.otf') format('opentype');
	font-style: normal;
}

@font-face {
	font-family: 'RingsideRegular-Light';
	src: url('/fonts/RingsideRegular-Light.otf') format('opentype');
	font-style: normal;
}

@font-face {
	font-family: 'Sentinel A', 'Sentinel B';
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Sentinel A', 'Sentinel B';
	font-style: normal;
	font-weight: 500;
}
